// sensible normalized styles
@import "normalize";
// code highliting
@import "rouge-github";

* {
  // background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  box-sizing: border-box;
  transition: all 0.2s ease-out;
}

img {
  height: auto;
  width: 250px;
  border-radius: 20px;
}