// Text
$section-headings-color: #bb1f39 !default;
$body-text-color: #606c71 !default;
$link-color: #0e559c !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #354c57 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;

// Fonts
$body-font-size: 17px;